.ingredientStack {
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
}

.ingredientStack li {
    display: flex;
    align-items: center;
    position: relative;
}

.ingredientStack li > svg {
    position: absolute;
    left: 0;
}

.fillingsScrollContainer {
    margin-right: -16px;
    max-height: 464px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
    composes: scrollContainer from '../../common-styles/scroll-container.css';
}

.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bunPlaceholder {
    width: 488px;
    min-height: 48px;
    color: #8080a6;
    border: 2px solid #8080a6;
    padding: 16px 24px;
}

.bunPlaceholder_top {
    border-radius: var(--top-constructor-item-border-radius);
}

.bunPlaceholder_bottom {
    border-radius: var(--bottom-constructor-item-border-radius);
}