.pageConstructor header {
  display: grid;
  grid-template-columns: 1fr 1240px 1fr;
  background: #1C1C21;
  height: 88px;
}

.pageConstructor header > nav {
  grid-column: 2;
  margin: 0 -20px;
}

.pageConstructor main {
  display: grid;
  grid-template-columns: 1fr 600px 40px 600px 1fr;
}

.pageConstructor section:first-child {
  grid-column: 2;
}

.pageConstructor section:last-child {
  grid-column: 4;
}