.pageConstructor main {
  display: grid;
  grid-template-columns: 1fr 600px 40px 600px 1fr;
}

.pageConstructor section:first-child {
  grid-column: 2;
}

.pageConstructor section:last-child {
  grid-column: 4;
}