.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#page-constructor header {
  display: grid;
  grid-template-columns: 1fr 1240px 1fr;
  background: #1C1C21;
  height: 88px;
}

#page-constructor header > nav {
  grid-column: 2;
  margin: 0 -20px;
}

#page-constructor main {
  display: grid;
  grid-template-columns: 1fr 600px 40px 600px 1fr;
}

#page-constructor section:first-child {
  grid-column: 2;
}

#page-constructor section:last-child {
  grid-column: 4;
}