.navLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #8585AD;
    text-decoration: none;
    gap: calc(var(--offset-base-size) * 2);
    justify-content: space-between;
    border-radius: 40px;
    white-space: nowrap;
}

.navLink svg {
    fill: #8585AD;
}

.navLink.active {
    color: #F2F2F3;
}

.navLink.active svg {
    fill: #F2F2F3;
}

.navBar {
    display: flex;
    align-items: center;
}

.navBarMenu {
    display: flex;
    gap: calc(var(--offset-base-size) * 2);
}