.header {
    display: grid;
    grid-template-columns: 1fr 1240px 1fr;
    background: #1C1C21;
    height: 88px;
}

.header > nav {
    grid-column: 2;
    margin: 0 -20px;
}

.navBar {
    display: flex;
    align-items: center;
}

.navBarMenu {
    display: flex;
    gap: calc(var(--offset-base-size) * 2);
}

.leftHalf {
    width: 50%;
    justify-content: start;
    composes: navBarMenu;
}

.rightHalf {
    width: 50%;
    justify-content: end;
    composes: navBarMenu;
}